@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #e3f2fd;
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container{}
.section_box {
  width:580px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0.9rem;
}
.row{
    padding: 0 15px;
    border-radius: 5px;
    border: 3px solid #333;
    overflow: hidden;
    cursor: pointer;
    margin: 0.8rem;
}
.section_box .row:nth-child(1){
    border: 1px solid #ffd6b3;
    background-color: #fff7f0;
}
.section_box .row:nth-child(2){
    border: 1px solid #cceeff;
    background-color: #f0faff;
}
.section_box .row:nth-child(3){
    border: 1px solid #ffccd6;
    background-color: #fff0f3;
}
.section_box .row:nth-child(4){
    border: 1px solid #ccccff;
    background-color: #f0f0ff;
}
.input{}
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 3rem;
    line-height: 3rem;
    cursor: pointer;
}
.section_box input:checked + label{
    height: auto;
}
.title_header{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.icon_header::before{
    content: '';
    display: inline-block;
    border: 1px solid  #333;
    height: 9px;
}
.icon_header::after{
    content: '';
    display: inline-block;
    position: absolute;
    border: 1px solid  #333;
    height: 9px;
    top: 18px;
    right: 0;
    transform: rotate(89deg);
}
.text{
    font-size: 12px;
    height: 0;
    transition: all 0.3s linear;
}
.section_box input:checked + label + p {
    height: 80px;
    padding-bottom: 10px;
}